table {
	font-size: 13px;
	text-align: center;
}

th td {
	color: #7a80a2;
}

span {
	background-color: #DE861E;
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
}

.div {
	margin-top: 30px;
	margin-bottom: 20px;
}
.allign{
	margin-left:76%;
    font-size: 12px;
    color: #6e8092;
}